@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Noto+Sans&family=Roboto&display=swap');

body {
    background-color: ivory;
    margin: 15px;
}
.breweryList {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-evenly;
}
.headings {
    font-family: Oswald;
    font-size: 2.3em;
    text-align: center;
    border-radius: 10px;
    background-color:darkmagenta;
    color: whitesmoke;
    flex: 1 1 100%;
}
.simpleCard {
    background-color: rgb(248, 186, 196);
    font-family: Noto Sans;
    font-size: 1.1em;
    color: black;
    border-radius: 20px;
    padding: 15px;
    width: 380px;
    height: 300px;
    display: grid;
    grid-template-columns: 140px 210px;
    justify-content: center;
}
.simpleCard:hover {
    transform: scale(1.07);
}
.brewName {
    font-size: 1.8em;
    font-family: Roboto;
    font-weight: 700;
    text-align: center;
    grid-column: 1 / span 2;
    color: green;
}